.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #131313;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  color: #ffffff;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 24px !important;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 0.8rem;
      border: 1px solid #ddd;
      border-radius: 20px !important;
      height: 50px !important;
      font-size: 1rem;
      color: black !important;
    }

    .submitButton {
      padding: 20px 30px;
      background: linear-gradient(180deg, rgba(255, 169, 178, 0.1));
      color: white;
      border: 1px solid #ffa9b1;
      width: 100%;
      border-radius: 25px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(180deg, rgba(255, 169, 178, 0.24));
        transform: translateY(-2px);
        // box-shadow: 0 5px 15px rgba(255, 217, 54, 0.3);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}

.links {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.tgInput {
  &:focus {
    outline: none;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
}

.PhoneInputCountrySelect {
  display: none !important;
}

.phoneInputContainer {
  .react-phone-number-input {
    width: 100%;
    color: black !important;
    &__input {
      padding: 0.8rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 1rem;
      width: 100%;
    }

    &__country-select {
      padding: 0.8rem;
    }

    &__icon {
      border-radius: 3px;
    }
  }
}

.errorMessage {
  color: #ff3333;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  z-index: 1001;
  position: relative;
}
